apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: at-app2
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/part-of: aks-backup-poc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: managed-csi
  resources:
    requests:
      storage: 5Gi
